/* ma première fich style.css*/
/*on éteint la lumière :)*/
body{
  background-color:teal;
  color:blue;/*on test l'heritage*/
  background: url(BLOCNOTE.png) fixed no-repeat top right, url(https://www.google.fr/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png)
  /*si background-image alors:*background-position: center;/* 30px 50px;*/
  /*background-repeat: no-repeat  */
}
@font-face {
    font-family: 'c';
    src: url('c.ttf') format('truetype');
}
/* insertion de la classe Salutations avec la balise span*/
/* insertion fontface et family*/
.salutations
{
  color: #FA4444; /*notation de couleur en hexadecimale equivaut à  #FFAA33 donné par PS*/
  font-family: 'c';
  font-size: 49;
}
.signature
{
  text-align:right;
  font-style:italic;
}
p
{
opacity:0,6;
color:silver;
}
h1
{
color:blue
}
h1 em
{
  font-size: 50;
  color: marron;
  font-style: normal;
}
/* la balise em apparait donc en 2 couleurs sur mon site une en rouge dans le h1
et l'autre en orange dans le body p*/

/* en incluant em dans la balise précédente mais en l'intégrant dans une balise
isolée cela lui permet d'appliquer la couleur orange tout en laissant le titre h1
en red*/

em
{
  color:orange;
  font-size: 240px;
  font-style:normal;
}
/* après avoir créé la class="introduction" dans le fichier html on ajoute
 « Je veux que seules les balises qui ont comme nom 'introduction
 ' soient affichées en bleu ». ci dessous */
.introduction
{
  color: fusia;
  text-align: justify;
  text-align: center;
}
.imageflottante
{
  float:left;
}
/* insertion d'une proriété pour l'image le height ne fonctionne pas*/
.dessous
{
  clear:both;
}
#logo
{
  width:400
}

.barre
{
    text-decoration:line-through;
}
/* téléchargement d'une nouvelle police et test */

h4
{
  text-decoration: blink;
  text-decoration: overline;
  color: rgb(200,100,255)
}

/* voici un exemple basique de codage en css--balise1
{
    propriete1: valeur1;
    propriete2: valeur2;
    propriete3: valeur3;
}

balise2
{
    propriete1: valeur1;
    propriete2: valeur2;
    propriete3: valeur3;
    propriete4: valeur4;
}

balise3
{
    propriete1: valeur1;
}*/
h1 + p
{
  color: green

}
mark
{
  background-color: teal;
}
/* n'ai pas réussi à faire appliquer la propriété sur le 3eme paragraphe donc
appliqué sur le premier et class "introduction" basculé sur le 3eparagraphe*/
/*https://www.w3.org/Style/css3-selectors-updates/WD-css3-selectors-20010126.fr.html#selectors
exemple de lien html avec ancre intégré qui redirige directement sur l'ancre de la page concernée*/

a[title="cliquez"]
{
  color: aqua;
  align-content: center;
  text-decoration-style: dotted;
}
