header{margin-top:-60px}
footer{margin-bottom:30}

header a{
  text-decoration:underline;
}
#conteneurheader
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header a{

  color: rgba(0,0,0,0.87);
  display:inline-block;
  font-family: arial, sans-serif;
  font-size: 13px
}
header a p{color:white;}

header a:link
{
  text-decoration: none;
}


header a:hover
{
text-decoration: underline;
}
.headerconnexion
{
display:inline-block;
text-emphasis-color: white;
padding: 6px 0 6px 0;
color: white;
font-family: arial,sans-serif;
font-size: 13px;
font-weight: 700;
background: #4387FD;
border-radius:2px;
width:90px;
border:none;
text-align: center;
cursor:default;
}
.headerconnexion:active
{
  color: white;
background: blue;
}

.bl
{
  color:white;
}

.elementheader:hover
{
  opacity: 0.5
}


}
.elementheader1
{
color:rgba(0,0,0,0.87);
text-decoration:none
text-decoration:none;}


.elementheader2
{
color:rgba(0,0,0,0.87);
text-decoration:none}

#image
{
  display: flex;
  justify-content: center;
}

p
{align-content: center;}

.button{
  padding:15px 0 25px 5px;
	font:bold 25px Arial;
  font-family: aril,sans-serif;
  font-size: 13px;
  font-weight: 700;
	color:#757575;
	border-radius:2px;
  display: flex;
  justify-content: space-around;
  rgba(0, 0, 0, 0.1) 0px 1px 1px 0px
}

.button2{
  padding:15px 0 25px 5px;
	font:bold 25px Arial;
  font-family: aril,sans-serif;
  font-size: 13px;
  font-weight: 700;
	color:#757575;
	border-radius:2px;
  display: flex;
  justify-content: space-around;
  rgba(0, 0, 0, 0.1) 0px 1px 1px 0px
}
.button2:hover{
  opacity:0.5
}
.button:hover{opacity:0.5}

.xy{
  display: flex;
  justify-content: center;
}
#recherche{
  display:flex;
  width:auto;
  height:auto;
  justify-content: center;
  border-radius:10px 5px 10px 5px
}

#recherche input {
     height: 34px;
     width: 459px;
}
/* l'ombre ne marche pas elle prends toute la page
#recherche:hover input {
     height: 34px;
     width: 459px;
}

#recherche:hover{
  display:flex;
  box-shadow: 6px 6px 6px grey;
}
*/
.blinking-cursor {
  width: auto;
  height: auto;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}


footer{
background-color: #f5f5f5;
position:absolute;
bottom:0;
width:100%;
height:50px;
border-top: 0.5px #C0C0C0 solid;
}

a{ color:inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


hr {border: 0.5px solid #DCDCDC}



.France{
  font-family: 'Noto Sans', sans-serif;
  color: rgba(0,0,0,0.541176);
  font-size: 14px;
  margin-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Basg{
  color: rgba(0,0,0,0.541176);
  font-size: 13px;
  font-weight:300;
  margin-left: 15px;
  padding-left: 15px;
}

.Basd{
  font-family: 'Noto Sans', sans-serif;
  color: rgba(0,0,0,0.541176);
  font-size: 13px;
  margin-left: 15px;
}

.Basgal{
  font-family: 'Noto Sans', sans-serif;
  background-color: #f5f5f5;
  border-top: 0.5px #C0C0C0 solid;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Mots{
  padding-right: 20px;
}
